@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
body{
    background-color: #e5ecbe;
    color: rgb(10, 10, 10);
}
.forLogo{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #09530d;
    margin: 0 auto;
    padding: 0 4vw;
    box-shadow: -2px 5px 10px rgb(56, 55, 55);
}
.logo img{
    width: 6vw;
    cursor: pointer;
}
.logoText{
    color: rgb(238, 10, 10);
    cursor: pointer;
}

.headerSection{
    max-width: 1280px;
    margin: 0 auto;
}
.title{
    font-size: 5vh;
}
.title h1 span{
    color: rgb(238, 10, 10);
}
.title p{
    color: rgb(20, 105, 20);
    font-size: 1.5vw;
}
.clubs{
    text-align: center;
    margin-top: 8vh;
}
.selectClub{
    margin-top: 1.5vh;
}
.cBoxs{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    gap: 4vh;
}
.cBox{
    display: flex;
    gap: 2vh;
    font-size: 2vw;
}
.cBox input{
    width: 2vw;
}

/* now started input section */

.inputSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 650px;
    margin: 4vh auto;
    background: linear-gradient(to right, #09530d, #06cf20);
    padding: 4vw 2vw;
    border-radius: 15px;
    gap: 2vh;
    border: 3px solid #04a519;
    box-shadow: -2px 5px 10px rgb(56, 55, 55);
    
}
.inputSection input{
    height: 8vh;
    width: 100%;
    margin: 0 auto;
    font-size: 1.2vw;
    border-radius: 8px;
    border: 2px solid #005B41;
    padding-left: 1vw;
    display: block;
    outline: 2px solid #005B41;
    }
.sectionForSelection{

    max-width: 1280px;
    margin: 5vw auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2vw;

}
.selectionContainer{
    width: 100%;
    max-width: 100%;
    background: linear-gradient(to right, #005B41, #04a519);
    border-radius: 8px;
    margin: 0 auto;
    padding: 2vw;
    border: 2px solid #04a519;
    box-shadow: -2px 5px 15px rgb(56, 55, 55);
}

.selectLanguage{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 2vh;
}
.selectLanguage div{
    display: flex;
    gap: 8px;
    font-size: 1.5vw;
}
.selectLanguage div input{
    width: 1.5vw;
}
.checkboxsForExperience{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.3vw;
}
.intoExperience{
    display: flex;
    gap: 0.5vw;
    font-size: 1.5vw;
    margin-top: 2vh;
}
.intoExperience input{
    width: 1.5vw;
}
.linkdedAccount{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 2vh;
}
.linkdedAccount div{
    margin-bottom: 2vh;
}
.linkdedAccount div input{
    width: 100%;
    max-width: 95%;
    height: 8vh;
    font-size: 3vh;
    padding-left: 2vh;
    outline: none;
    border-radius: 8px;
    color: #005B41;
    margin-bottom: 2vh;
}
textarea{
    margin-top: 1vh;
    width: 95%;
    resize: none;
    outline: none;
    border-radius: 8px;
    border: 2px solid #04a519;
    font-size: 2.5vh;
    padding: 0.2vw;
    margin: 0 auto;
}
.selectLanguage{
    margin-top: 2vh;
}
.inputSection h3{
    color: white;
}

button{
    height: 3vw;
    width: 10vw;
    font-size: 1.5vw;
    font-weight: 900;
    background: linear-gradient(to right, #005B41, #04a519);
    color: white;
    border-radius: 8px;
    border: 1px solid #06cf20;
    transition: all 0.3s ease-in;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh auto;
} 
button:hover{
    background: linear-gradient(to right, #04a519, #005B41);
}
button:active{
    transform: scale(0.9);
}
.footer{
    max-width: 100%;
    width: 100%;
    background-color: #01130e;
    color: white;
    padding: 4vw;
}
.footer-Container{
    max-width: 70vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.clg-info{
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.clg-info h1:hover{
    color: #035c37;
    letter-spacing: 2px;
}
.clg-info img{
    max-width: 10vw;
    width: 100%;
    
}
.clg-info a i{
    color: #fff;
    font-size: 2vw;
    margin-left: 10px;
}
.clg-info a i:hover{
    color: #035c37;
}

.containers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #ccc;
    margin-top: 6vh;
}
.teachers{
    text-align: center;
}
.containers div a{
    color: #fff;
}
.containers a i {
    margin-right: 6px;
    font-size: 1.5vw;
}
.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.madeBy{
    margin: 6vh auto;
    color: #035c37;
    text-align: center;
}
@media screen and (max-width: 576px) {
    .logo img{
        width: 20vw;
    }
    .cBoxs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .cBox{
        font-size: 8vw;
    }
    .cBox input{
        width: 8vw;
        margin-left: 5vw;
    }
    .title h1{
        font-size: 10vw;
    }
    .title p{
        font-size: 5vw;
    }
    .sectionForSelection{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 3vw;
        gap: 2vw;
    }
    .selectLanguage{
        margin-top: 2vh;
    }
    .selectLanguage div{
        font-size: 5vw;
    }
    .selectLanguage div input{
        width: 5vw;
    }
    .intoExperience{
        font-size: 5vw;
    }
    .intoExperience input {
        width: 5vw;
    }
    .inputSection input{
        font-size: 6vw;
    }
    .selectionContainer{
        padding: 2vh;
    }
    button{
        width: 40vw;
        height: 14vw;
        font-size: 5vw;
    }
    .clg-info a i{
        font-size: 8vw;
    }
    .clg-info img{
        max-width: 15vw;
        width: 100%;
    }
    .containers{
        flex-direction: column;
    }
    .containers a i {
        margin-right: 8vw;
        font-size: 5vw;
    }
    .contact{
        margin-top: 2vh;
        text-align: center;
    }
}
